@import "tailwindcss";

:root {
  --color-theme-background: #f8f1e4;
  --color-theme-text-dark: #3b3128;
  --color-theme-primary-red: #d23743;

  --background: var(--color-theme-background);
  --foreground: var(--color-theme-text-dark);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-title: var(--font-be-vietnam-pro);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  font-size: 1.08rem;
}